################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/varun.Bookstore/.vs/varun.Bookstore
/varun.Bookstore/varun.Bookstore/bin/Debug/netcoreapp3.1
/varun.Bookstore/varun.Bookstore/obj
